global
    log stdout format raw local0
    # Ensures old processes exit after 30s during a reload
    hard-stop-after 30s 
    stats socket /var/run/haproxy.sock mode 660 level admin

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s
    timeout queue 5s

frontend http_front
    bind *:80
    acl is_root_path path -i /
    http-request set-path /web-app/ if is_root_path
    default_backend http_back

backend http_back
    balance random
    option httpchk GET /web-app/
    http-check expect status 200

    default-server check inter 2s fastinter 500ms fall 2 rise 3 slowstart 30s on-error fastinter

    server app1 acada-tomcat-1:8080
    server app2 acada-tomcat-2:8080
    server app3 acada-tomcat-3:8080
    server app4 acada-tomcat-4:8080
    server app5 acada-tomcat-5:8080
    server app6 acada-tomcat-6:8080
    server app7 acada-tomcat-7:8080
    server app8 acada-tomcat-8:8080
    server app9 acada-tomcat-9:8080
    server app10 acada-tomcat-10:8080
