global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:80
    acl is_root_path path -i /
    http-request set-path /web-app/ if is_root_path
    default_backend http_back

backend http_back
    balance random
    option httpchk GET /web-app/
    http-check expect status 200
    server app1 54.172.146.136:8080 check
    server app2 34.228.31.255:8080 check